* {
    box-sizing: border-box;
}

.universal-navi {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34A853;
}

.universal-navi > h3 {
    font-size: 25px;
    font-family: sans-serif;
    color: whitesmoke;
}

